.jk {
  position: absolute;
  top: 30px;
  left: 75px;
  z-index: 1;
}

.jd {
  position: absolute;
  top: 70px;
  left: 50px;
}

body, html {
  height: 120%;
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1280&q=80') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kt {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 300px;
  height: 40px;
  background-color: lightblue;
  padding: 20px;
  margin: 70px auto;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 170,255, 0.3);
}

    .link-kotak {
  text-decoration: none;
}

.klick {
  width: 180px;
  height: 180px;
  background-image: url('https://files.catbox.moe/p0tbxr.jpeg'); /* Gambar kotak */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 180px;
  left: 226px;
  overflow: hidden;
}

.kk {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); /* Agar teks terlihat di atas gambar */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

    .link-kotak {
  text-decoration: none;
}

.klik {
  width: 180px;
  height: 180px;
  background-image: url('https://files.catbox.moe/p0tbxr.jpeg'); /* Gambar kotak */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 180px;
  left: 20px;
  overflow: hidden;
}

.kp {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); /* Agar teks terlihat di atas gambar */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.kolom {
  position: absolute;
  top: 700px;
  left: 40px;
  width: 300px;
  height: 60px;
  background-color: lightblue;
  padding: 20px;
  margin: 70px auto;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.3);
}

.tt {
  position: absolute;
  top: 780px;
  left: 280px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cff;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.wa {
  position: absolute;
  top: 780px;
  left: 55px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cff;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
  
.gh {
  position: absolute;
  top: 780px;
  left: 180px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cff;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.sl {
  position: absolute;
  top: 825px;
  left: 55px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cff;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.sl2 {
  position: absolute;
  top: 825px;
  left: 190px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cff;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.h2 {
  position: absolute;
  top: 825px;
  left: 320px;
  display: inline-block;
  padding: 8px 20px;
  background-color: #008cff;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

     .link-kotak {
  text-decoration: none;
}

.ss {
  width: 180px;
  height: 180px;
  background-image: url('https://files.catbox.moe/p0tbxr.jpeg'); /* Gambar kotak */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 385px;
  left: 226px;
  overflow: hidden;
}

.sk {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); /* Agar teks terlihat di atas gambar */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

     .link-kotak {
  text-decoration: none;
}

.cr {
  width: 180px;
  height: 180px;
  background-image: url('https://files.catbox.moe/p0tbxr.jpeg'); /* Gambar kotak */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 385px;
  left: 20px;
  overflow: hidden;
}

.cc {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); /* Agar teks terlihat di atas gambar */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
